@use '../variables' as *;
@use '../mixins' as *;

/*** GALERIA DE TRABAJOS ****/
.trabajos {
    position  : relative;
    padding   : 50px 0 75px;
    background: rgba(0, 0, 0, .75);
    z-index   : 1;

    &:after {
        content: '';
        @include absolutePos(0, 0, 0, auto);
        height    : 1px;
        background: linear-gradient(90deg, rgba(179,36,0,1) 15%, rgba(255,255,255,0) 50%, rgba(179,36,0,1) 85%);
        z-index   : 1;
    }

    .contenedor_galeria {
        position  : relative;
        margin-top: 50px;
        z-index   : 1;

        .item_galeria {
            position      : relative;
            display       : inline-block;
            vertical-align: middle;
            margin        : 0;
            width         : percentage((100/4)/100);
            overflow      : hidden;
            z-index       : 1;

            img {
                position  : relative;
                display   : block;
                width     : 100%;
                height    : auto;
                object-fit: cover;
                z-index   : 1;
            }

            &:before {
                content: '';
                @include absolutePos(15px, 15px, 15px, 15px);
                @include transicion(250ms);
                @include scalar(1.1);
                background-color   : rgba(0, 0, 0, .6);
                background-image   : url('../img/pattern_3.png');
                background-repeat  : no-repeat;
                background-size    : 128px;
                background-position: center;;
                border             : 1px solid $color_claro;
                border-radius      : 5px;
                opacity            : 0;
                z-index            : 2;
            }
        }

        .owl-nav {
            .owl-prev {
                @include absolutePos(0, 0, auto, 0);
                width     : 30px;
                color     : $color_claro;
                background: rgba(0, 0, 0, .35);
                font-size : 18px;
                z-index   : 1;
            }

            .owl-next {
                @include absolutePos(auto, 0, 0, 0);
                width     : 30px;
                color     : $color_claro;
                background: rgba(0, 0, 0, .35);
                font-size : 18px;
                z-index   : 1;
            }
        }
    }
}
