/**** VARIABLES ****/
$color_principal       : #d8c8a6;
$principal_transparente: rgba(216, 200, 166, .6);
$color_rojo            : #b32400 !global;
$rojo_transparente     : rgba(179, 36, 0, .6) !global;
$color_claro           : #eeeeee;
$color_oscuro          : #242424;
$color_negro           : #000;
$logo                  : url('../img/logo_v1.png') center no-repeat;
$w_1260                : 1260px;
$w_1600                : 1600px;
$w_768                 : 768px;
$w_480                 : 480px;
$fuente_titulos        : "Dancing Script", serif;